SERVICE_NAME=users-service
APP_ENV=development
PORT=8082
LOG_LEVEL=info
HTTP_READ_TIMEOUT=10
HTTP_WRITE_TIMEOUT=10
HTTP_IDLE_TIMEOUT=60
DB_HOST=users-db
DB_PORT=5432
DB_NAME=users_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_USER_FOLLOWED=user.followed
