snp-api-gateway           | 2026/04/21 21:01:59 service=api-gateway method=GET path=/health status=200 duration_ms=0 request_id=req-1776805319749816949-079487

snp-auth-service          | 2026/04/21 21:02:07 service=auth-service method=GET path=/health status=200 duration_ms=0 request_id=req-1776805327890028425-130841

snp-users-service         | 2026/04/21 21:02:16 service=users-service method=GET path=/health status=200 duration_ms=0 request_id=req-1776805336535266757-055529

snp-posts-service         | 2026/04/21 21:02:25 service=posts-service method=GET path=/health status=200 duration_ms=0 request_id=req-1776805345268672511-967711

snp-feed-service          | 2026/04/21 21:02:36 service=feed-service method=GET path=/health status=200 duration_ms=0 request_id=req-1776805356726957168-038518

snp-notification-service  | 2026/04/21 21:02:43 service=notification-service method=GET path=/health status=200 duration_ms=0 request_id=req-1776805363079806843-934526